:root {
  --bg: #fff;
  --text: #060b27;
  --primary: #2d55fb;
  --border: #35405a;
  --error: #f62847;
  --accent-1: #f7f9fc;
  --yellow: #fae925;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background-color: var(--bg);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/** remove default input styles globally **/
input,
input:focus,
input:hover,
input:active {
  border: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
