.option {
  padding: 4px 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.option:hover {
  background-color: var(--accent-1);
}

.option__highlight {
  background-color: var(--yellow);
}

.option__checkmark {
  margin-left: auto;
  padding-left: 4px;
}